@import "../dist/webkit-sassui-modal.scss";
button{
  outline: none;
}

.circle{
  border-radius: 1000px;
}

.test-webkit-sassui-modal{
  border:5px solid rgba(#fff, 0.5);
  box-shadow: 2px 6px 14px rgba(#000,0.2);
  >.bd{
    font-size: 14px;
    padding: 10px;
    background: #ff9500;
    color: #fff;
  }

  h3{
    font-size: 16px;
    margin: 0 0 10px 0;
    padding:4px 0 4px 10px;
    border-left: 4px solid #fff;
    background: #eee;
    color: #333;
  }
}

.actions{
  padding:10px;
  button{
    margin-bottom: 10px;
  }
}

button{
  padding:14px;
  border: none;
  width: 100%;
  background: #007aff;
  color: #fff;

  &:active{
    background:darken(#007aff,10%);
  }
}
