/*webkit-sassui-modal Start*/
$webkit-sassui-modal-options:(
  z-index: 100,
  duration: 250ms,
  scale: 0.085
)!default;

.webkit-sassui-modal{

  $z-index: map-get($map: $webkit-sassui-modal-options, $key: z-index);
  $duration: map-get($map: $webkit-sassui-modal-options, $key: duration);
  $scale: map-get($map: $webkit-sassui-modal-options, $key: scale);

  width: 80%;
  top:42.5%;
  left:50%;
  position: fixed;
  z-index: $z-index;
  user-select:none;
  border-radius: 10px;
  transform-origin: 0 0;
  overflow: hidden;

  @keyframes webkit-sassui-modal-in {
    0% {
      opacity: 0;
      transform: scale($scale) translate3d(-50%, -50%, 0);
    }
    95%{
      opacity: 1;
      transform: scale(1 + $scale) translate3d(-50%, -50%, 0);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(-50%, -50%, 0);
    }
  }

  @keyframes webkit-sassui-modal-out {
    0% {
      opacity: 1;
      transform: scale(1) translate3d(-50%, -50%, 0);
    }
    95%{
      opacity: 0.1;
      transform: scale(1-$scale) translate3d(-50%, -50%, 0);
    }
    100%{
      opacity: 0;
      transform: scale(0.9)translate3d(-50%, -50%, 0);
    }
  }


  &.visible-true,
  &[data-visible=true]{
    animation: $duration webkit-sassui-modal-in ease-in-out forwards;
  }

  &.visible-false,
  &[data-visible=false]{
    animation: $duration webkit-sassui-modal-out ease-in-out forwards;
  }

}
/*webkit-sassui-modal End*/
